<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.first_name}} - portfolio page</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.css" rel="stylesheet">
  <style>
    .pureBlack{
      background-color:#1f2124;
    }
  </style>

  

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg pureBlack text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Sai Yeswanth</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-white text-dark rounded " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">projects</a>
          </li>
          
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#experiments">experiments</a>
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#posts">posts</a>
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">about</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">contact</a>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-dark text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="img/instadp.svg" alt="">
      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Sai Yeswanth</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
         <i class="fas fa-star"></i> 
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Programmer <br> DeepLearning Enthusiast <br> Game Developer</p>

    </div>
  </header>
  
  <!-- Portfolio Section -->
  
  
<section>
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <h2 class="page-section-heading text-center  text-secondary   mb-3">projects</h2>
      
      <div class="row">
       
        
        {% for p_item in site.categories.projects reversed %}
        <div class="col-md-6 col-lg-4">
          {% assign ics = p_item.icon_src%}
          {%assign tg = p_item.tag%}
          {%assign dt = p_item.data_target%}

          {%  include portfolio_item.html icon_src=ics tag=tg data_target=dt  %}
          
        </div>
      
          {% endfor %}
        <!-- Portfolio Item 3 -->
        
      </div>
      <!-- /.row -->

    </div>
    
    {% for p_item in site.categories.projects reversed %}
    
      {% assign ics = p_item.icon_src%}
      {%assign tg = p_item.tag%}
      {%assign dt = p_item.data_target%}
      {%assign ct = p_item.content%}

      {%  include portfolio_data.html icon_src=ics tag=tg data_target=dt content=ct  %}
        
      {% endfor %}
    
  </section>

  
  <section class="page-section portfolio" id="experiments">
    <div class="container">

      <h2 class="page-section-heading text-center  text-secondary   mb-3">experiments</h2>
      
      <div class="row">
       
        
        {% for p_item in site.categories.experiments reversed %}
        <div class="col-md-6 col-lg-4 col-xs-12">
          {% assign ics = p_item.icon_src%}
          {%assign tg = p_item.tag%}
          {%assign dt = p_item.data_target%}

          {%  include portfolio_item.html icon_src=ics tag=tg data_target=dt  %}
          
        </div>
      
          {% endfor %}
        <!-- Portfolio Item 3 -->
        
      </div>
      <!-- /.row -->

    </div>
    
    {% for p_item in site.categories.experiments reversed %}
    
      {% assign ics = p_item.icon_src%}
      {%assign tg = p_item.tag%}
      {%assign dt = p_item.data_target%}
      {%assign ct = p_item.content%}

      {%  include portfolio_data.html icon_src=ics tag=tg data_target=dt content=ct  %}
        
      {% endfor %}
    
  </section>

  <section class="page-section portfolio" id="posts">
    <div class="container">

      <h2 class="page-section-heading text-center  text-secondary   mb-3">blog posts</h2>
      
      <div class="row">
       
        
        {% for p_item in site.categories.blogs reversed %}
        <div class="col-md-6 col-lg-4">
          {% assign ics = p_item.icon_src%}
          {%assign tg = p_item.tag%}
          {%assign dt = p_item.data_target%}

          {%  include blog_item.html icon_src=ics tag=tg data_target=dt  %}
          
        </div>
      
          {% endfor %}
        <!-- Portfolio Item 3 -->
        
      </div>
      <!-- /.row -->

    </div>
    
  </section>



</section>

  
  <!-- About Section -->
  <section class="page-section pureBlack text-white mb-0" id="about" >
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 d-flex justify-text-center" >
          <p class="lead"> <strong> what I work on : </strong> Computer Vision, Natural Language Processing, Statistical Modeling and Deep Reinforcement Learning to program AI in games. I hope to develop a multidisciplinary skillset.</p>

        </div>
        <div class="col-lg-4 d-flex justify-text-center" >
          <p class="lead"> <strong> how I work : </strong>I start with an Idea, do the math, lookup open source tools to build stuff, and then I plan and build stuff. Just like my fellow indie game developers and Hey ! if you want to work on something together get in touch !</p>
        </div>
        <div class="col-lg-4 d-flex justify-text-center" >
          <p class="lead"> <strong> why I work : </strong> If I'm universe's way of experiencing itself then I have to join the dance, play my part, discover the symphonies myself and play a melody.</p>

        </div>
        
        
        
        
        
      </div>

      <!-- About Section Button -->
      <div class="text-center">
        <button class="btn bg-dark text-white " data-toggle="modal" data-target="#resume">
          
          
          <a href="/assets/my_res.pdf" style="text-decoration:none" target="_blank">my resume</a>
        </button>
      </div>

    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact</h2>

  

      <!-- Contact Section Form -->
      <h6 class=" text-center text-secondary mx-5 my-5 mb-0"> you can email me at hashkellz@gmail.com</h6>
        

    </div>
  </section>
  
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->
  
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</body>

</html>
